@charset "utf-8";

body {
    background-color: rgb(104, 103, 103);
}

ul{
      text-align: center;
      border-image: space;
}
 h1{
     color: aliceblue;
 }

h3{
     color:rgb(49, 45, 45) ;
 }

 main{
     text-align: center;
     
 }
 
 .COR3{
     color: rgb(173, 173, 173);
 }

 .COR2{
     background-color: rgb(180, 164, 189);
}

fieldset{
    background-color: black;
}