p{
	color: #b377eb;
	font-size: 1.2em;
	font-family: 'Courier New', Courier, monospace;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #000000;
}
h2{ 
	font-family: arial;
	color: #f3ccff;
	text-align: center;
	background-color: #bd93e7;
}
small{
	color: blue;
	font-size: 0.5em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
