@charset "utf-8";

body{
    background-color: black;
}

header {
    color: aqua;
    font-family: Georgia, "Times New Roman", serif;
    line-height: 100%;
    text-align: center;
}

H1 {
   color: #7676a3;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    text-shadow:rgb(13, 75, 129);
}

h2 {
    color: hsl(59, 34%, 57%);
    font-family: "Times New Roman";
    text-align: center;
    font-style: italic;
}

.paragrafo
 {
    color: #0f2a42;
    font-family: "Times New Roman";
    text-align: center;
    line-height: 200%;
}
 
.Unidade
{
    text-align: center;
    color: hsl(312, 100%, 99%);
    font-style: Italic;
}