@charset "utf-8";

#div1{
    
    background: url(salto.webp) center/contain no-repeat;
    margin-top: 50px;
}

.blockquote{
    font-size: 20px;
    font-variant-ligatures: historical-ligatures;
}

