* {
  box-sizing:content-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid rgb(53, 150, 240);
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgb(15, 11, 11);
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(253, 249, 243);
}

h2 {
  text-align: center;
  font-family: monospace;
  font-size: 3vw;
}

table{
  margin: 20px;
  margin-left: 160px;
  text-align: center;
}

th{
  padding: 1em;
  margin: 1em;
  box-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
}

td {
  padding: 1em;
  margin: 10px;  
  box-shadow: 1px 1px 1px black;
  border-radius: 10px;
}

